version: "3.9"

services:
  db:
    image: postgres:15
    container_name: roulette-db
    environment:
      POSTGRES_USER: myuser
      POSTGRES_PASSWORD: mypassword
      POSTGRES_DB: roulette
    ports:
      - "5433:5432"
    volumes:
      - db-data:/var/lib/postgresql/data

  

volumes:
  db-data:
